/* header part css start */
.body{
    background-color: rgb(61, 56, 56);    
  }
  /* navbar css start */
  .navbar{
      background-color:rgb(75, 69, 69) ;
      font-size: 22px;
  }
  span{
      color: red;
  }
  .navbarbutton a{
      text-decoration: none;
      color: black;
      font-weight: bold;
  }
  .navbarbutton:hover{
      background-color: rgb(185, 56, 56);
  }

/* header part css end */
