
<nav class="navbar navbar-expand-lg sticky-xl-top">
    <div class="container-fluid">
      <a class="navbar-brand text-white ms-4" href="#"><h2><span>BE</span>FIT</h2></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-5  mb-lg-0">
          <li class="nav-item ms-4">
            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item ms-4">
            <a class="nav-link text-white" href="#">Choose us</a>
          </li>
          <li class="nav-item ms-4">
            <a class="nav-link text-white" href="#">Feature</a>
          </li>
            <li class="nav-item ms-4">
              <a class="nav-link text-white " href="#">Trainers</a>
            </li>
            <li class="nav-item ms-4">
              <a class="nav-link text-white" href="#">Contact us</a>
            </li>
            <li class="nav-item ms-4">
              <a class="nav-link text-white mb-2" href="#">Pricing</a>
            </li>
        </ul>
        <form class="d-flex ms-auto me-4">
          <button class="form-control navbarbutton" ><a class="text-dark" href="#">LOGIN</a></button>
        </form>
        <form class="d-flex me-4">
          <button class="form-control navbarbutton"><a class="text-dark" href="#">SIGN UP</a></button>
        </form>
      </div>
    </div>
  </nav>