  <!-- footer -->

  <div class="row justify-content-evenly bg-dark text-white pt-2 pb-5">
    <div class="col-11 col-md-3 pt-4">
      <h2 class="pb-2">BEFIT</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis commodi eos reiciendis dolorem inventore in libero at exercitationem eligendi distinctio totam enim ipsum necessitatibus neque laboriosam nisi deserunt, fuga omnis!</p>
    </div>
    <div class="col-11 col-md-3 pt-4">
        <h2 class="pb-2">Important Links</h2>
        <p>
            <a href="#" class=" link-light text-decoration-none">home</a><br>
            <a href="#" class=" link-light text-decoration-none ">Choose us</a><br>
            <a href="#" class=" link-light text-decoration-none">Features</a><br>
            <a href="#" class=" link-light text-decoration-none">Trainer</a><br>
            <a href="#" class=" link-light text-decoration-none">Contact us</a><br>
            <a href="#" class=" link-light text-decoration-none">Pricing</a>
        </p>
        

    </div>
    <div class="col-11 col-md-3 pt-4">
        <h2 class="pb-2">Contact Us</h2>
        Address
        1180 derabassi way,Barwala Market<br>
        India - 11596 <br>
        Phone no: 917-772-5081

    </div>
  </div>
  <!-- footer end -->
  <!-- copyright -->
  <div class="row">
    <div class="col-12 bg-secondary text-white text-center ">
        <p class="mt-2 mb-2">Copyright 2022-2023 by Sanjay. All Rights Reserved</p>
    </div>
  </div>
  <!-- copyright end -->