<!-- feature start here  -->
<div class="row mb-4 mt-5 justify-content-evenly">
    <div class="col-11 col-md-11 mb-5">
      <h1 class="gymfeaturetitle text-center mb-5"><a href="#">GYM FEATURES</a></h1>
       <div class="row">
        <div class="mb-5 col-12 col-sm-12 col-md-6 col-lg-4">
          <img class="img-fluid" src="../../assets/images/gymSupplement.jpg" alt="">
          <h2 class="mt-5 featureheading text-white text-center me-5"><a href="">Online gym Cources</a></h2>
          <p class="text-white featuresupplementline text-center mt-1">On good days, work out. On bad days, work out harder.Get Stronger body, stronger mind.</p>
          <button class="featurebutton"><a class="me-4" href="">READ MORE</a></button>
        </div>
        <div class="mb-4 col-12 col-sm-12 col-md-6 col-lg-4">
          <h2 class="mt-5 featureheading text-white"><a href="">GYM SUPPLEMENTS</a></h2>
          <p class="text-white featuresupplementline text-center mt-1">My supplements are similar to my training.I always commit to being a better version of myself.</p>
          <button class="featurebutton"><a class="me-4" href="">READ MORE</a></button>
          <img class="img-fluid mt-5" src="../../assets/images/gymOnline.jpg" alt="">
        </div>
        <div class="mb-4 col-12 col-sm-12 col-md-6 col-lg-4">
          <img class="img-fluid" src="../../assets/images/gymDiet.jpg" alt="">
          <h2 class="mt-5 featureheading text-white text-center"><a href="">GYM Diet Tips</a></h2>
          <p class="text-white featuresupplementline text-center ms-2 ">The man who earns a million, but destroys his health in the process is not really a success.</p>
          <button class="featurebutton"><a class="me-4" href="">READ MORE</a></button>
        </div>
       </div>
    </div>
  </div>

  

<!-- feature end-->