
/* gym features css start  */

.gymfeaturetitle a{
    text-decoration: none;
    padding: 3px;
    background-color: red;
    color: white;
    outline: none;
    border: none;
}
.gymfeaturetitle a:hover{
  color: white;
}
.featureheading{
    margin-left: 10%;
    color: rgb(117, 104, 104);
}
.featureheading a{
    text-decoration: none;
    color: rgb(117, 104, 104);
}
.featureheading a:hover{
    color: rgb(117, 104, 104);
}
.featuresupplementline{
    margin-left: -5%;
}
.featurebutton{
    margin-left: 28%;
    font-size: 25px;
    background-color: rgb(179, 66, 66);
    border-radius: 5px;
    border-bottom-right-radius: 15px;
}
.featurebutton a{
    text-decoration: none;
    color: white;
    border: none;
    outline: none;
    padding: 4px;
}
.featurebutton a:hover{
    color: white;
}
/* gym features css  end */
