/* contact us css start  */
.contactusbackgroundimg{
    /* background-color: rgb(83, 76, 76);  */
    background-image: url(../../assets/images/gym.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7px;
}
.allcontactustext{
    color:white;
    font-size: 20px;
}
.contactusaddresstext{
    color:white;
    font-size: 20px;
}
.contactussubmitbutton{
    margin-left: 2%;
    margin-top: 1%;
    font-size: 30px;
    padding: 3px;
    border-radius: 5px;
    border-bottom-right-radius: 15px;
    background-color: rgb(179, 162, 162);
    border: 2px solid rgb(44, 30, 30);
}
.contactussubmitbutton a{
    text-decoration: none;
    color: black;
    margin-left: 2%;
}
.contactussubmitbutton:hover{
    background-color: rgb(124, 57, 57);
}
.contactussubmitbutton a:hover{
    color: black;
}
/* contack us css end  */