 <!-- content us start  -->
 <div class="row justify-content-evenly">
    <div class="col-11 col-md-11">
      <div class="row justify-content-evenly contactusbackgroundimg pt-2 pb-5 mb-5  ">
        <div class="col-lg-5 ">
          <h1 class="mb-4 mt-3" style="color: rgb(241, 236, 236);">CONTACT US</h1>
          <form action="">
            <label class="text-white mb-2">Full Name</label><br>
            <input id="username" type="text" placeholder="enter name" style="width: 100%;padding: 7px; border-radius: 4px;outline: none;border: none;"><br>
            <label class="text-white mt-2">Email Address</label><br>
            <input type="email" id="useremail" placeholder="Email Address" style="width: 100%;padding: 7px; border-radius: 4px;outline: none;border: none;"><br>
            <label class="text-white mb-1 mt-3">Massage</label><br>
            <textarea rows="4" cols="5" placeholder="Enter Something" style="border-radius: 4px;padding: 3px;outline: none;border: none;width: 100%;"></textarea><br>
            <input class="contactussubmitbutton mt-3" type="submit">
          </form>
        </div>
        <div class="col-lg-5 mt-3 contactusaddresstext">
          <h3>Address</h3>
          <p>1180 derabassi way,Barwala Market<br>
              India - 11596 <br>
              Phone no: 917-772-5081
          </p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3435.017294225909!2d76.89529331460683!3d30.577057200170763!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fbfd3f44da10d%3A0x5839d559db08ce87!2sDerabassi%20-%20Barwala%20Rd!5e0!3m2!1sen!2sin!4v1674884663418!5m2!1sen!2sin" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
   </div>

   <!-- content us end  -->