 <!-- trainer start  -->
 <div class="row mb-4 mt-5 justify-content-evenly">
    <div class="col-11 col-md-11 mb-5">
     <h1 class="gymfeaturetitle text-center mb-5"><a href="#">Trainer Profile</a></h1>
   <div class="row justify-content-around">
    
     <div class="col-md-5 trainerfirst mb-5">
     <img class="img-fluid imgpadding" src="../../assets/images/trainerfirst.jpg">
     <h2 style="color: rgb(241, 126, 139);">JHON WICK</h2>
     <h4 class="trainerlogo"><i class="bi bi-facebook trainerfacebook me-2 text-white"></i><i class="bi bi-twitter trainerfacebook me-2 text-white"></i><i class="bi bi-linkedin trainerfacebook me-2 text-white"></i></h4>
     <h5 class="text-white">Lorem ipsum dolor  amet consectetur adipisicing elit.</h5>
     <button class="trainerjoinusbutton"><a class="me-4" href="">JOIN US</a></button>
   </div>

   <div class="col-md-5 trainerfirst mb-5">
    <img class="img-fluid imgpadding" src="../../assets/images/trainerthird.jpg">
    <h2 style="color: rgb(241, 126, 139);">Radhika Karle</h2>
    <h5 class="text-white">Lorem ipsum dolor  amet consectetur adipisicing elit.</h5>
    <button class="trainerjoinusbutton"><a class="me-4" href="">JOIN US</a></button>
  </div>

     <div class="col-md-5 trainerfirst mb-5">
      <img class="img-fluid imgpadding" src="../../assets/images/trainerfourth.jpg">
      <h2 style="color: rgb(241, 126, 139);">Shweta Rathore</h2>
      <h5 class="text-white">Lorem ipsum dolor  amet consectetur adipisicing elit.</h5>
      <button class="trainerjoinusbutton"><a class="me-4" href="">JOIN US</a></button>
    </div>

        <div class="col-md-5 trainerfirst mb-5">
     <img class="img-fluid imgpadding" src="../../assets/images/trainersecond.jpg">
     <h2 style="color: rgb(241, 126, 139);">Manish Advilkar</h2>
     <h5 class="text-white">Lorem ipsum dolor  amet consectetur adipisicing elit.</h5>
     <button class="trainerjoinusbutton"><a class="me-4" href="">JOIN US</a></button>
   </div>
      </div>
    </div>
  </div>
   <!-- trainer end  -->