/* trainer css start  */
.trainerfirst{
    border-radius: 1%;
    border: 2px solid rgb(75, 72, 72);
    background-color: rgb(83, 76, 76);
}
.imgpadding{
    padding-top: 3%;
    padding-bottom: 2%;
}
.gymfeaturetitle a{
    text-decoration: none;
    padding: 3px;
    background-color: red;
    color: white;
    outline: none;
    border: none;
}
.gymfeaturetitle a:hover{
  color: white;
}
.trainerjoinusbutton{
    margin-top: 1%;
    margin-bottom: 2%;
    padding: 3px;
    font-size: 25px;
    background-color: rgb(179, 162, 162);
    border-radius: 5px;
    border-bottom-right-radius: 15px;
}
.trainerjoinusbutton a{
    text-decoration: none;
    color: black;
    margin-left: 5px;
    text-align: center;
}
.trainerjoinusbutton:hover{
    background-color: rgb(124, 57, 57);
}
.trainerjoinusbutton a:hover{
    color: black;
}