/* CHOOSE US PAGE START */
.chooseusimg:hover{
    box-shadow: 0px 0px 7px 1px rgb(194, 163, 163);
}
.reason{
    color: red;
    font-weight: bold;
    margin-top: 4%;
    margin-left: 2%;
    font-size: 20px;
}
.choose{
    color: white;
    margin-top: -1%;
    margin-left: 2%;
    
}
.choose a{
    text-decoration: none;
    color: white;
}
.coachs{
    color: white;
    display: inline;
    margin-left: 2%;
}
.chooseicon{
    color: rgb(194, 74, 74);
    font-weight: bold;
    font-size: 30px;
    margin-left: 1.8%;
}
.partner{
    color: rgb(97, 83, 83);
    margin-top: 1%;
    margin-left: 3%;
}

/* CHOOSE US PAGE END */