   <!-- choose us start  -->
   <div class="row mb-5 mt-5 justify-content-evenly">
    <!-- < choose us imgs  -->
    <div class="col-lg-6 ">
     <div class="row justify-content-evenly">
      <div class="col-5">
        <img class="img-fluid chooseusimg mt-2" src="../../assets/images/chooseusimg1.jpg">
      </div>
      <div class="col-5 ">
        <img class="img-fluid chooseusimg mt-2"src="../../assets/images/chooseusimg2.jpg">
      </div>
      <div class="col-5">
        <img class="img-fluid chooseusimg mt-2" src="../../assets/images/chooseusimg3.jpg">
      </div>
      <div class="col-5">
        <img class="img-fluid chooseusimg mt-2" src="../../assets/images/chooseusimg4.jpg">
      </div>
     </div>
    </div>
    <!-- < choose us imgs  -->
    <!-- choose us content  -->
    <div class="col-lg-4 mt-3">
     <p class="reason">SOME REASONS</p>
     <h1 class="choose">WHY CHOOSE US?</h1>
     <i class="bi bi-check2-circle chooseicon"></i><h5 class="coachs">OVER 50+ EXPERT COACHS.</h5><br>
     <i class="bi bi-check2-circle chooseicon"></i><h5 class="coachs">TRAIN SMARTER AND FASTER THAN OTHER.</h5><br>
     <i class="bi bi-check2-circle chooseicon"></i><h5 class="coachs">1 FREE PROGRAM FOR NEW MEMBER.</h5><br>
     <i class="bi bi-check2-circle chooseicon"></i><h5 class="coachs">FOR STUDENTS EXTRA 20% DISCOUNT.</h5><br>
     <h5 class="partner">OUR PARTNERS</h5>
      <img class="bg-dark mt-2 ms-4" src="../../assets/images/nike1.jpg" width="15%">
      <!-- choose us content  -->
    </div>
  </div>
  <!-- choose us end  -->