<!-- home page  start-->
<div class="container-fluid">
    <div class="row">
      <div class="col-12" id="homepageimg">
        <h5 class="homepagepage">Be Strong Be Fit</h5>
        <h1 class="homepageline">Make Yourself Stronger<br>Than Your Emotion.</h1>
        <button class="homepagebutton"><a  href="#">Get Started</a></button>
      </div>
    </div>
   </div>
<!-- home page end  -->
