#homepageimg{
    width: 100%;
    height: 520px;
    background-image: url(../../assets/images/homeimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}
.homepagepage{
    color: red;
    font-size: 18px;
    margin-top: 10%;
    margin-left: 10.5%;
}
.homepageline{
    color: white;
    margin-left: 10%;
    word-spacing: 1.5px;
    word-spacing: 2px
}
.homepagebutton{
    background-color: rgb(241, 8, 8);
    border-radius: 5px;
    padding: 5px;
    border-bottom-right-radius: 28%;
    margin-left: 10.5%;
    margin-top: 0.5%;
}
.homepagebutton a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}
.homepagebutton a:hover{
    color: white;
}


/* media quary homepage  */
@media screen and (max-width:992px){
    .homepagepage{
        margin-top: 15%;
    }
}
@media screen and (max-width:480px){
    .homepagepage{
        margin-top: 40%;
    }
    .homepagebutton{
        margin-top: 4%;
    }
    .homepageline{
    margin-top: 3%;
    }
}